<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改内容</title>
</head>
<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
<script charset="utf-8" src="{JS_PATH}/kindeditor-4.1.7/kindeditor.js"></script>
<script charset="utf-8" src="{JS_PATH}/kindeditor-4.1.7/lang/zh_CN.js"> </script>
<script src="{JS_PATH}/jquery-min.js"></script>
<script src="{JS_PATH}/jquery.validate.js"></script>
<body>
<form action="index.php?m=admin&f=art&a=editnewsInfo" method="post" id="form" >
    <div class="form-group">
        <label for="title">内容标题：</label>
        <input type="text" name="title" class="form-control" id="title" value={$news['title']} autocomplete="off">
    </div>
    <div class="form-group">
        <label for="etitle">内容英文标题：</label>
        <input type="text" name="etitle" class="form-control" id="etitle" value={$news['etitle']} autocomplete="off">
    </div>
    <div class="form-group">
        <label for="cid">内容分类：</label>
        <select class="form-control">
            <option value="0">请选择</option>
            {$tree}
        </select>
    </div>
    <div class="form-group">
        <label for="name">发布人：</label>
        <input type="text" name="name" class="form-control" id="name" value={$news['name']} autocomplete="off">
    </div>
    <div class="form-group">
        <label for="summary">摘要：</label>
        <input type="text" name="summary" class="form-control" id="summary" value="{$news['summary']}" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="editor_id">内容：</label>
        <br/>
        <textarea id="editor_id" name="editor_id" style="width:100%;height:300px;">
            {$news['con']}
        </textarea>
    </div>
    <input type="hidden" name="nid" value={$news['nid']}>
    <button id="fat-btn" class="btn btn-primary" data-loading-text="Loading..."
            type="submit"> 提交
    </button>
</form>
</body>
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#editor_id');
    });
    $.validator.addMethod("etitle",function(value,element,params){
            var etitle = /^[0-9a-zA-Z\s]*$/;
            return this.optional(element)||(etitle.test(value));
        },"请输入纯英文");
    $("#form").validate({
        rules:{
            title:{
                required:true
            },
            etitle:{
                etitle:true,
                maxlength:255
            },
            summary:{
                maxlength:255
            },
            name:{
                maxlength:50
            }
        },
        messages:{
            title:{
                required:"请输入标题"
            },
            etitle:{
                maxlength:"最多输入255个字符"
            },
            summary:{
                maxlength:"最多输入255个字"
            },
            name:{
                maxlength:"最多输入50个字"
            }
        }
    })
</script>
</html>