<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算机信息工程学院后台</title>
</head>
<style>
    @font-face {
        font-family: 'iconfont';
        src: url('{ADMIN_PATH}/font/iconfont.eot');
        src: url('{ADMIN_PATH}/font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('{ADMIN_PATH}/font/iconfont.woff') format('woff'),
        url('{ADMIN_PATH}/font/iconfont.ttf') format('truetype'),
        url('{ADMIN_PATH}/font/iconfont.svg#iconfont') format('svg');
    }
</style>
<link rel="stylesheet" href="{ADMIN_PATH}/css/default.css">
<link rel="stylesheet" href="{ADMIN_PATH}/css/index.css">
<script src="{JS_PATH}/jquery-min.js"></script>
<script src="{ADMIN_PATH}/js/index.js"></script>
<body>
    <!--top-->
    <div class="topbox">
        <div class="top">
            <div class="topleft">
                <img src="{ADMIN_PATH}/images/logo.png" alt="">
                <b>计算机信息工程学院管理系统</b>
            </div>
            <div class="topright">
                <span><i class="iconfont">&#xe6c5;</i>您好！admin,欢迎您登陆</span>
                <a href=""><i class="iconfont">&#xe63b;</i></a>
            </div>
        </div>
    </div>
    <!--top end-->
    <!--main-->
    <div class="mainbox">
        <div class="main">
            <div class="center">
                <ul class="fu">
                    <li>
                        <i class="iconfont">&#xe729;</i>
                        <a href="javascript:;"><i class="iconfont">&#xe62d;</i>admin</a>
                        <ul class="son">
                            <li><a href="" target="right"><i class="iconfont">&#xe724;</i>修改密码</a></li>
                            <li><a href="" target="right"><i class="iconfont">&#xe724;</i>所有管理员</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="iconfont">&#xe729;</i>
                        <a href="javascript:;"><i class="iconfont">&#xe69b;</i>用户管理</a>
                        <ul class="son">
                            <li><a href="" target="right"><i class="iconfont">&#xe724;</i>用户添加</a></li>
                            <li><a href="" target="right"><i class="iconfont">&#xe724;</i>用户删除</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="iconfont">&#xe729;</i>
                        <a href="javascript:;"><i class="iconfont">&#xe661;</i>分类管理</a>
                        <ul class="son">
                            <li><a href="" target="right"><i class="iconfont">&#xe724;</i>添加分类</a></li>
                            <li><a href="" target="right"><i class="iconfont">&#xe724;</i>管理分类</a></li>
                        </ul>
                    </li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="show">
            <iframe src="" frameborder="0" name="right"></iframe>
        </div>
    </div>
    <!--main end-->
</body>
</html>